<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File explorer - dashboard</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('header') %>

  <main>
    <a href="/main/upload">Upload File</a>
    <a href="/main/explorer/dir:<%= rootFolderId %>">Manage your files</a>
  </main>

  <%- include('footer') %>
</body>
</html>