<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File explorer - dashboard</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('header') %>

  <main>
    <div class="dashboard-btns">
      <div>
        <a class="button" href="/main/upload">File uploader</a>
        <a class="button" href="/main/explorer/dir:<%= rootFolderId %>">File explorer</a>
      </div>
    </div>
  </main>

  <%- include('footer') %>
</body>
</html>