<header>
  <ul>
    <% if(locals.user !== undefined){ %>
      <li> <%= user.username %> (<a class="button logOut" href="/access/log-out">log out</a>) </li>
    <% } else { %>
      <li>No user logged in</li>
      <li class="logged-off-btns">
        <a class="button" href="/access/log-in">log in</a>
        <a class="button" href="/access/sign-up">sign up</a>
      </li>
    <% } %>
  </ul>
</header>