<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage - file uploader</title>
  <link rel="stylesheet" href="/style.css">
  <% if(locals.user !== undefined){ %>
    <script src="/fileFilter.js" defer></script>
  <% } %>
</head>
<body>
  <%- include('header') %>

  <main>
    <% if(locals.user === undefined){ %>
      <h1><a href="access/log-in">Log</a> in this thing, mang</h1>
    <% } else {%>
      <%- include('upload-form') %>
    <% } %>
  </main>

  <%- include('footer') %>
</body>
</html>