<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sign-up - file uploader</title>
</head>
<body>
  <h1>Register to have access</h1>

  <%- include('errors') %>

  <form method='POST' action="/access/sign-up">
    <div>
      <label for="username">username: </label>
      <input type="text" id="username" name="username" />
    </div>

    <div>
      <label for="password">password: </label>
      <input type="password" id="password" name="password">
    </div>

    <div>
      <label for="confirm-password">confirm password</label>
      <input type="password" id="confirm-password" name="confirm-password" />
    </div>

    <button type="submit">sign up</button>
  </form>

  <a href="/">back</a>
</body>
</html>