<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>File Uploader - upload file</title>
  <script src="/fileFilter.js" defer></script>
</head>
<body>
  <%- include('header') %>
  <%- include('flashMessages') %>

  <main>
    <%- include('upload-form') %>

    <a class="button" href="/main/dashboard">back</a>
  </main>


  <%- include('footer') %>
</body>
</html>