  <form action="/upload" method="post" enctype="multipart/form-data">
    <fieldset>
      <legend>Upload your stuff</legend>

      <label class="fileLabel" for="uploadFile">max size: 512kb</label>
      <input type="file" name="file" id="upload-file" />

      <button type="submit">submit file</button>
    </fieldset>
  </form>